---
layout: default
title: Home
---

<img src="/public/images/logo.png" alt="" class="center-image header">

<br/>
<br/>

Distillations is a collection of essays on human be­hav­ior, our relationship with technology, and engineering. Or, more succinctly, written attempts at distilling my thoughts.

<br/>
<br/>

First time here? Posts suffixed with an asterisk are some of my favorites.

<br/>
<br/>

<div class="posts">
  {% assign essays = site.posts | where:"type","essay" %}
  {% for post in essays %}
    <div class="post-link">
      <a href="{{ post.url }}">{{ post.title }}{% if post.highlighted %}*{% endif %}</a>
    </div>
  {% endfor %}
</div>

<br/>

My older technical and reflective writing can be found in the <a href="/etceteras">Etceteras</a> section.

<br/>
<br/>
