---
layout: default
title: Home
---

<img src="/public/images/logo.png" alt="" class="center-image header">

<br/>
<br/>

Distillations is a two-track writing collection, with the first covering engineering and the second containing personal essays on human be­hav­ior and our relationship with technology.

<br/>
<br/>

First time here? Posts suffixed with an asterisk are some of my favorites.

<div class="posts">
  <h3>Engineering</h3>
  <div class="post-link">
    <a href="/frp-ct-diary">Functional (Reactive) Programming and Category Theory Diary</a>
  </div>

  {% assign technical = site.posts | where:"type","engineering" %}
  {% for post in technical %}
    <div class="post-link">
      <a href="{{ post.url }}">{{ post.title }}{% if post.highlighted %}*{% endif %}</a>
    </div>
  {% endfor %}

  <h3>Essays</h3>
  {% assign essays = site.posts | where:"type","essay" %}
  {% for post in essays %}
    <div class="post-link">
      <a href="{{ post.url }}">{{ post.title }}{% if post.highlighted %}*{% endif %}</a>
    </div>
  {% endfor %}
</div>

<br/>
<br/>
