---
layout: default
title: Home
---

<img src="/public/images/logo.png" alt="" class="center-image header">

<br/>
<br/>

Distillations is a collection of personal essays and mathematics. Or, if we’re being candid—and we are—, a homesick mathematician who also writes about Feelings.

<br/>
<br/>

First time here? Entries suffixed with an asterisk are some of my favorites.

<div class="posts">
  <h3>Short form</h3>
  <div class="post-link">
    <a href="/notes">Technical diary*</a>
  </div>
  <div class="post-link">
    <a href="https://pinboard.in/u:jasdev">Link blog*</a> (<a href="https://twitter.com/_substrate">mirror</a>)
  </div>

  <h3>Mathematics (and engineering)</h3>
  
  {% assign technical = site.posts | where:"type","engineering" %}
  {% for post in technical %}
    <div class="post-link">
      <a href="{{ post.url }}">{{ post.title }}{% if post.highlighted %}*{% endif %}</a>
    </div>
  {% endfor %}

  <h3>Essays</h3>
  {% assign essays = site.posts | where:"type","essay" %}
  {% for post in essays %}
    <div class="post-link">
      <a href="{{ post.url }}">{{ post.title }}{% if post.highlighted %}*{% endif %}</a>
    </div>
  {% endfor %}
</div>

<br/>
<br/>
