<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" and node.title != "thesis-redirect" and node.title != "Reading List" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.keybase ”}}" target="_blank">🔐 Keybase</a>
      <a class="sidebar-nav-item" href="{{ site.twitter ”}}" target="_blank">📢 Twitter</a>
      <a class="sidebar-nav-item" href="{{ site.gyroscope ”}}" target="_blank">🌎 Gyroscope</a>
      <a class="sidebar-nav-item" href="{{ site.github ”}}" target="_blank">💻 GitHub</a>
      <a class="sidebar-nav-item" href="{{ site.coach ”}}" target="_blank">💪 Coach.me</a>
      <a class="sidebar-nav-item" href="{{ site.instagram ”}}" target="_blank">📷 Instagram</a>
      <a class="sidebar-nav-item" href="{{ site.soundcloud ”}}" target="_blank">🔊 SoundCloud</a>
      <a class="sidebar-nav-item" href="/reading-list/">📚 Reading List</a>
    </nav>

    <p>Copyright &copy; {{ site.time | date: '%Y' }} Jasdev Singh</p>
  </div>
</div>
