<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" and node.title != "thesis-redirect" and node.title != "Reading List" and node.title != "Emotiboard Privacy Policy" and node.title != "Projects (Deprecated)"%}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="/atom.xml">Writing (RSS)</a>
      <a class="sidebar-nav-item external" href="{{ site.twitter.url }}" target="_blank">Twitter</a>
      <a class="sidebar-nav-item external" href="{{ site.gyroscope }}" target="_blank">Gyroscope</a>
      <a class="sidebar-nav-item external" href="{{ site.github }}" target="_blank">GitHub</a>
      <a class="sidebar-nav-item external" href="{{ site.instagram }}" target="_blank">Instagram</a>
      <a class="sidebar-nav-item external" href="{{ site.soundcloud }}" target="_blank">SoundCloud</a>
      <a class="sidebar-nav-item external" href="{{ site.instapaper }}" target="_blank">Instapaper Favorites</a>
      <a class="sidebar-nav-item external" href="{{ site.instapaper_rss }}" target="_blank">Instapaper Favorites (RSS)</a>
      <a class="sidebar-nav-item external" href="{{ site.instapaper_twitter }}" target="_blank">Instapaper Favorites (Twitter)</a>
  </nav>

  <div class="sidebar-item">
    <p>
      Copyright &copy; {{ site.time | date: '%Y' }} Jasdev Singh
    </p>
  </div>
</div>
