---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  
(Note: this is an entry in my technical diary. There will likely be typos, mistakes, or wider logical leaps—the intent here is to “<a href="https://austinkleon.com/2015/06/14/to-be-a-teacher-and-remain-a-student/">[let] others look over my shoulder while I figure things out.</a>”)

<hr>
  
  {{ content }}
</div>

<div class="related">
  <a href="/notes">⇐ Technical diary archive</a>
</div>
